<div class="main-container">
  <app-header [sidenav]="sidenav"></app-header>

  <mat-sidenav-container>
    <mat-sidenav
      class="w-10p"
      #sidenav
      mode="side"
      [(opened)]="opened"
      (opened)="events.push('open!')"
      (closed)="events.push('close!')"
    >
      <mat-list>
        <mat-list-item (click)="sidenav.toggle()">
          <mat-icon>close</mat-icon>
          <span class="ml-15">
          <a href=""> Fechar</a></span>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <h1>Aplicação teste do curso UDEMY</h1>


      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>
