/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-10p{
  width: auto;
  height: 100%;
}
.ml-15{
  margin-left: 0.9375rem;
}
.w-100{
  width: 100%;
}
.m-20{
  margin: 1.25rem;
}
.flx-center-row{
  display: flex !important;
  flex-direction: row;
  align-items: center;
}
.flx-evely{
justify-content: space-evenly;
}
